.actionBarContainer {
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 247, 203);
    border-radius: 4px;
    overflow: auto;
}

.actionBarItem {
    list-style: none;
    width: 48px;
    float: left;
    margin: 2px 4px;
}

.actionBarItemAbbr {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
    border: 3px solid rgb(107, 107, 107);
    color: rgb(107, 107, 107);;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.actionBarItemAbbr:hover {
    cursor: pointer;
    background-color: chartreuse;
}

.disabled .actionBarItemAbbr {
    cursor: auto;
    background-color: rgb(230,230,230);
    color: rgb(200,200,200);
}

.actionBarItemName {
    margin: 3px 0px;
    font-size: 0.7em;
    text-align: center;
}

.disabled .actionBarItemName {
    color: rgb(200,200,200);
}