.experienceContainer {
    width: 1600px;
}

.experienceBox {
    float: left;
    width: 158px;
    height: 158px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: rgba(206, 199, 168, 0.2);
    text-align: center;
    line-height: 158px;
    color: rgb(187, 187, 187);
}

.experienceLevel {
    background-image: url(../media/level.svg);
    background-size: 120px 120px;
    background-position: 19px 19px;
    background-repeat: no-repeat;
}